{% extends "base.html" %}

{% block title %} No Pressure {% endblock %}

{% block head %} {% endblock %}

{% block body %} 

<div class="blob"></div>
<div class="blob"></div>

<nav class="navbar">
    <a class="navbar-logo" href="#"><span style="font-weight: bolder;">No Pressure</span><br><i style="font-size: .95rem;">Mobile Auto</i></a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
    </ul>
</nav>

<div class="wrapper">
    <div class="container">
        <div class="framewrapper">
            <h1 style="font-weight: bolder; padding: 2% 0px;">LOGIN</h1>
            <div class="input-box">
              <input type="email" required>
              <label>Email</label>
            </div>
            <div class="input-box">
              <input type="password" required>
              <label>Password</label>
            </div>
            <p style="font-weight: 500;">Test</p>
            <div class="buttonwrapper">
                <button type="button">Reserve Appointment </button>
                <button type="button">Contact Sales </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}