{% extends "base.html" %}

{% block title %} No Pressure {% endblock %}

{% block head %} {% endblock %}

{% block body %} 

<div class="blob"></div>
<div class="blob"></div>

<nav class="navbar">
    <a class="navbar-logo" href="#"><span style="font-weight: bolder;">No Pressure</span><br><i style="font-size: .95rem;">Mobile Auto</i></a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
    </ul>
</nav>

<div class="wrapper">
    <div class="container">
        <div class="framewrapper">
            <h1 style="font-weight: bolder; padding: 2% 0px;"> Top rated pressure washing services for the bay area</h1>
            <p style="font-weight: 500;">Tampa's premier mobile pressure washing company. We use eco-friendly solutions and state-of-the-art equipment to keep your vehicles looking their best. Our services include everything from a quick car wash to full detailing, all provided with exceptional customer service. To save you time and hassle we come to you wherever you are, at home, at work or on the go. Our mobile service saves you time and hassle by bringing our top-quality service right to your doorstep. Contact us today to schedule your appointment or make a reservation!</p>
            <div class="buttonwrapper">
                <button type="button">Reserve Appointment </button>
                <button type="button">Contact Sales </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}